# 2. Tipos de dados em Python

<img src="figures/tipos-dados.png" />

A função ```type()``` mostra o tipo do dado, veja alguns exemplos.

In [1]:
type("text")        # <class 'str'>

str

In [2]:
type(1)             # <class 'int'>

int

In [3]:
type(0.99)          # <class 'float'>

float

## 2.1 Inteiros

In [4]:
1 + 1
a = 4

type(a)

int

In [5]:
z = 5/2     # divisão de número inteiro em Python 3
t = int(5/2)
print (z, t)

2.5 2

## 2.2 Floats

In [6]:
c = 2.1
type(c)

float

## 2.3 Complexos

In [7]:
a = 1.5 + 0.5j
a.real
a.imag
type(1. + 0j )

complex

## 2.4 Booleanos

Os tipos booleanos literais no Python são ```True``` e ```False```. Vamos rodar eles através da declaração ```if```:

In [8]:
3 > 4
test = (3 > 4)
test
type(test)

bool

In [9]:
if True:
    print('Sim')

Sim

In [10]:
if False:
    print('Você não verá essa mensagem')

### 2.4.1 BOOLEANOS E OUTROS TIPOS DE DADOS
Os seguintes valores são definidos como ```False```:
* ```None```
* ```0```
* ```[ ]``` (ou qualquer outra sequência vazia, ```string``` inclusive)

Tudo diferente dos anteriores age como um ```True```

<img src="figures/operacoes_booleanas.png" />


Pela tabela ```and``` e ```or``` são operadores curso circuito:

In [11]:
1 or True

1

In [12]:
True or 1

True

Qual será o resultado de ```True and (2 + 2)```?

In [13]:
True and (2+2)

4

E qual será de ```not 3```?

In [14]:
not 3

False

## 2.6 Tipos de dados: Conversão de tipos

In [15]:
float(1)
int(4.3)
str(2)

'2'

## 2.7 Objetos e referências

Se executarmos os seguintes comandos:

In [16]:
a = "objeto"
b = "objeto"

Sabemos que ***a*** e ***b*** se referirão a uma ***string*** mas não sabemos se eles apontam para o mesmo objeto de Python.

O interpretador pode organizar sua memória de duas maneiras:

* referir ***a*** e ***b*** a dois objetos distintos com os mesmos valores
* referir ***a*** e ***b*** ao mesmo objeto

<img src="figures/ref_string.png" />

Podemos testar se duas variáveis se referem ao mesmo objeto:

In [17]:
a is b

True

Nesse caso, ***a*** e ***b*** têm o mesmo valor mas não se referem ao mesmo objeto.


## Alias

Podemos forçar ***a*** e ***b*** a se referirem ao mesmo objeto. Com isso, criamos um **alias** (apelido).

In [18]:
a = [4, 5, 6]
b = [4, 5, 6]
a is b

False

In [19]:
a = b
a is b

True

In [20]:
a.append(88)
print('a = ', a, ', b = ', b)

a =  [4, 5, 6, 88] , b =  [4, 5, 6, 88]

### O que aconteceu???

<img src="figures/diff_lists.png" />

<img src="figures/same_lists.png" />


### Recomendações em relação a **aliases**:

Em geral, é mais seguro evitar fazer um **alias** de objetos **mutáveis**, como listas. Para objetos **imutáveis**, como strings, não há restrições de se fazer **aliases**.

<p id="nav-felt" style="possition:relative; width:50%; float:left;"><a href="1-introducao_python.ipynb">&lt;&lt; Anterior: 1. Introdução</a></p>
<p id="nav-right" style="possition:relative; width:45%; float:left; text-align:right;"><a href="3-tipos-sequencias_python.ipynb">Próximo: 3. Tipos de sequências &gt;&gt;</a></p>